/* joti-one-regular - latin */
@font-face {
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/joti-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Joti One'), local('JotiOne-Regular'),
         url('./fonts/joti-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/joti-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/joti-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/joti-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/joti-one-v5-latin-regular.svg#JotiOne') format('svg'); /* Legacy iOS */
  }

#googleFont {
  font-family: 'Joti One', cursive;
}